[submodule "external/osgGeo"]
    path = external/osgGeo
    url = git://github.com/OpendTect/osgGeo.git
    ignore = dirty
    
[submodule "external/proj4"]
    path = external/proj4
    url = git://github.com/OpendTect/proj4.git
    ignore = dirty

