/* CopyRight:	(C) dGB Earth Sciences
  - Author:	B. de Groot & A. Burggraaf
  - Date:	May 2013
  - Contents:	Stylesheet for programmer doc
  - RCS:	$Id: style.css
*/

td {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
}

h2#heading2 {
	margin-left: 10px;
	color: #333;
}

h3#heading3 {
	margin-left: 10px;
	color: #333;
}

p#text {
	margin-left: 10px;
	margin-right: 10px;
	max-width: 936px;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.3em;
	font-size: 12px;
	color: #333;
}

ul#bullets {
	margin-right: 10px;
}

pre#code {
	margin-left: 10px;
	max-width: 933px;
}

#page_bg {
	padding: 5px 0;
	margin-bottom: 1px;
	background-color: #FAEBD7;
	 
}

div#wrapper {
	margin-left: auto;
	margin-right: auto;
}

body.width_medium div#wrapper {
	width: 950px;
}

body.width_small div#wrapper {
	width: 773px;
}


body.width_fmax div#wrapper {
	min-width: 750px;
	max-width: 1050px;
}

div#header_l {
	position: relative;
}

div#header_r {
	height: 90px;
	padding-left: 370px;
	padding-right: 30px;
	padding-top: 25px;
	overflow: hidden;
	text-align: left;
}

#page_bg {
	padding: 5px 0;
	margin-bottom: 1px;
}

div.center {
  text-align: center;
}

div#topbanner {
	position: absolute;
	left: 0;
	top: 0;
	float: left;
	width: 968px;
	height: 180px;
	background: url(opendtect_header.png) 0 0 no-repeat;
	margin-top: 16px;
	margin-left: 9px;
}

div#leftcolumn {
	position: absolute;
        left: 0;
        top: 0;
        float: left;
        width: 953px;
        height: 302px;
        margin-left: 16px;
        margin-top: 140px;
}

#greenborder {
        border: solid #7b0b12 1px;
	width: 953px;
	background-color: white;
}

a:link, a:visited {
	color: #a10f15;
	font-family: Arial,Helvetica,sans-serif;
}

a:hover {
	color: #7b0b12;
}

